.button {
  color: palevioletred;
  cursor: pointer;
  font-weight: 700;
}

.button:hover {
  color: rgb(253, 196, 215);
}

.button:disabled {
  cursor: default;
  color: var(--color-disabled);
}
